<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationPractice Site Test suite" >
  
	  <test name="AutomationPractice Automation tests" verbose="2">
		    <classes>
		    	<class name="com.qa.automationPractice.tests.HomePageTest"/>
		      	<class name="com.qa.automationPractice.tests.LoginPageTest"/>
		     
		      
		    </classes>
	 
	  </test> 
  
 </suite> 
